# chatterbot
# git+https://github.com/gunthercox/chatterbot-corpus.git#egg=chatterbot-corpus
Flask
Jinja2
MarkupSafe
Werkzeug
click
gunicorn
itsdangerous
requests
# spacy==2.2.0
# https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz
# https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow_cpu-2.4.0-cp36-cp36m-manylinux2010_x86_64.whl
tensorflow-cpu==2.3.0
pytz